{
    "token": "your-token-here",
    "uri": "localhost",
    "db": "flux",
    "contact_channel": null,
    "contact_channel_id": your-channel-id-here,
    "server_logs": your-server-logs-id-here,
    "command_logs": your-commands-logs-id-here,
    "error_logs": your-error-logs-id-here,
    "tick_yes": emoji-id-here,
    "tick_no": emoji-id-here,
    "owners": [ your-discord-id-here ]
}
